html {
  font-size: 14px;
  min-height: 100%;
  font-family: 'Trirong';
  /* https://coolors.co/palette/31221c-e97d63-ede4d3-665449-f1bcb8-faf9e7 */
  --color1: #EDE4D3;
  --color2: #E47E77;
  --color3: #665449;
  --color4: #31221C;
  --color5: #F4EFDD;
  --color6: #F1BCB8;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
body {
  padding: 5px;
  background-color: var(--color1);
}
h1{
  color: var(--color4);
  margin-bottom: 0.1%;
}
p, h5, li{
  color: var(--color4);
  font-size: 1.1rem;
}

a{
  color: var(--color2);
  font-size: 1.5rem;
}
li{
  border-bottom: 2px solid #DDD2C2;
  /* width: 32%; */
  width: 500px;
}

section div {
  background-color: var(--color5);
  margin: 1%;
  padding: 1%; 
  float: left;
  width: 25%;
  text-align: center;
  border: 4px solid var(--color6);
  border-radius: 4px;
}
h5{
margin: 0;
}
img{
  height: 500px;
  width: 500px;
  border-radius: 3px;
  margin: 0.5%;
}